<header>
  <nav>
    <a href="/">Tasklists</a>

    <div>
      <ul>
        <li><%= link_to 'Signup', signup_path %></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</header>